@import "variables.scss";
@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/elements/_all.sass";
@import "~bulma/sass/layout/_all.sass";
@import "~bulma/sass/components/_all.sass";
@import "~bulma/sass/form/_all.sass";

.padding-right {
  padding-right: 2px;
}

html {
  background-color: lightgrey;
}

.homepage-list {
  background-color: #FFFFFF;
}