@import "variables.scss";
@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/elements/_all.sass";
@import "~bulma/sass/layout/_all.sass";
@import "~bulma/sass/components/_all.sass";
@import "~bulma/sass/form/_all.sass";

html {
  background-color: lightgrey;
}

.small-heading-text {
  font-size: 14px;
}

.left-margin {
  margin-left: 20px;
}

.list-panel {
  background-color: #FFFFFF;
}